[Desktop Entry]
Type=Application
Name=锐捷有线认证
Name[zh_CN]=锐捷有线认证
Comment=GDUFS wired RG-SU authentication client
Comment[zh_CN]=广外有线锐捷认证客户端
Exec=rjsupplicant-gui
Icon=network-wired
Terminal=false
Categories=Network;GTK;
StartupNotify=true
